* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
}
 
   
  
nav {
    background-color: black ;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 10;
}

.container {
    padding: 0 100px 0 100px;
}
 
.logo { 
    display: flex;
    align-items: center; 
    height: 130px;
    width: 130px;
    z-index: 111;
}

.firstU {
    display: flex; 
    width: 80%;
}

.firstU li {
    list-style: none; 
}

.firstU li a {
    text-decoration: none;
    width: 6rem;
    height: 3rem;
    text-align: center; 
    border: 2px solid white;
    padding: 0.5rem;
    border-radius: 20px;
    color: rgb(245, 238, 238);
    margin: 0 26px;
    text-decoration: none;font-family: 'Anton', sans-serif;
    font-family: 'Miltonian Tattoo', cursive; 
}
 

#first {
    position: relative;
    background-color: black;
    color: white;
    height: 105vh;
    width: 100%;
}
 
.frstex {
    width: 50%;
    position: relative;
    z-index: 60;
    top: 150px;
    left: 8rem;
    font-size: 2.5rem;
    text-decoration: none;font-family: 'Anton', sans-serif;
    font-family: 'Miltonian Tattoo', cursive; 

}


.circle {
    position: absolute;
    background-color: rgb(255, 21, 0);
    border-radius: 50%;
    width: 400px;
    height: 400px;
    right: 30px; 
    bottom: -160px;
    z-index: 2;
    box-shadow: -10px 10px 10px rgb(0, 0, 0); 
    z-index: 53;
}
.circle2 {
    position: absolute;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    right: 250px; 
    bottom: -160px;
    z-index: 42;
}

.icon {
    position: absolute;  
    width: 300px;
    height: 300px;
    right: 100px;  
    bottom: 450px;
    z-index: 51;  
}
 
.person {
    position: fixed;  
    width: 300px; 
    right: 100px;    

}
  
.kosa {
    position: absolute;
    height: 1700px;
    width: 190px;
    background-color: rgb(252, 0, 0);
    box-shadow: -10px 10px 10px rgb(255, 255, 255); 
    right: 1020px;
    top: -140px;
    transform: skewX(-50deg); 
    z-index: 41;
}


#two {
    position: relative;
    color: white;
    background-color: #0E1136;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Anton', sans-serif;
    font-family: 'Miltonian Tattoo', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Permanent Marker', cursive; 
    width: 100%;
    height: 40vw;
    z-index: 70;
}

.twotit {
    text-align: center;
}

#tree {
    position: relative;
    color: white;
    background-image: url('../image/38020.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Anton', sans-serif;
    font-family: 'Miltonian Tattoo', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    width: 100%;
    height: 110vh;
    z-index: 70;
}


.armp { 
    position: absolute;
    z-index: 200;
    width: 20%; 
    left: 51%;
    margin-right: -50%;
    transform: translate(-50%, -20%);
}


.dark {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.712);
}
.val {
    position: absolute;
    bottom: -140px;
    left: -1px;
    z-index: 60;
}

.clone { 
    position: absolute;
    top: 10%;
    width: 30%; 
}

.clone2 { 
    position: absolute;
    right: 10%;
    top: 20%;
    width: 50%; 
}
 
 
 

.val2 {
    position: absolute; 
    left: -1px;
    z-index: 90; 
}



#four {
    position: relative;  
    background-color: #0E1136 !important;
    width: 100%;
    height: 50vw;
    z-index: 70;
}

.much {
    width: 100%;
    opacity: 0.5;
    background-color: black;
}


footer {  
    position: relative;
    z-index: 100;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 2rem;
}


.logoF {
    
    margin: 1rem;
    width: 200px;
}
 
.cnt {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.options {  
    width: 90%; 
    display: grid; 
    grid-template-columns: auto auto auto; 
    color: black;
}

.col {  
    padding: 20px;
    font-size: 20px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    position: relative; 
}
 

.soc {
    margin-top: 50px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
}





.artti { 
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    align-items: center;
}



.artist {
    position: absolute;
    top: 45%;
    left: 20%;
    margin-right: -20%;
    transform: translate(-10%, -10%);
     width: 60%;
    display: grid;
    column-gap: 1px;  
    padding: 1px;
    grid-template-columns: repeat(3, 50%);
    grid-template-rows: repeat(2, 145px);
    /* grid-gap: 1.5em; */
}
    
.grid {
    width: 200px;
    height: 200px; 
    border: 1px solid rgba(0, 0, 0, 0.8); 
    justify-content: center;
    justify-items: center;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
}

.headart {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0);
}
 
.headp { 
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    padding: .1rem;
    width: 200px;
    height: 200px; 
}

.goldm {
    margin-top: 2rem;
}

button {
    width: 200px;
    border: 5px solid black; 
    background-color: rgb(255, 0, 0);
    text-decoration: none;
    padding: 1rem;
    border-radius: 20px;
    color: white; 
}

.but {
    width: 200px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}